script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMFgi5v9PX7UQGb6e4XIl6iNelo1zwlOE&libraries=places"
h2 Sessions: #{@car_route.car_sessions.count} Locations: #{@car_route.car_sessions.first.car_locations.count}
h2 Time: #{@car_route.car_sessions.first.car_locations.last.time}
div.map-canvas
