<h1>Мобільний застосунок</h1>

<div class="text-left" style="margin-top: 24px;">
  <a style="vertical-align: 10px" href='<%= android_download_path %>'>
    <%= image_tag 'icons/google-play-badge.png', style: 'height: 60px;margin-top: -10px;' %>
  </a>
  <a href="<%= ios_download_path %>" style="display:inline-block;overflow:hidden;background:url(<%= image_path 'icons/badge_appstore-lrg.svg' %>) no-repeat;width:165px;height:40px;"></a>
</div>
