<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMFgi5v9PX7UQGb6e4XIl6iNelo1zwlOE"></script>
<script type="text/javascript">
//  (function() {
    <% if @map_data_url %>
      var data_url = '<%= @map_data_url %>';
    <% end %>

    <% if @from_marker %>
      var from_marker = <%= "new google.maps.LatLng(#{@from_marker.y}, #{@from_marker.x})".html_safe %>;
    <% end %>

    <% if @to_marker %>
      var to_marker = <%= "new google.maps.LatLng(#{@to_marker.y}, #{@to_marker.x})".html_safe %>;
    <% end %>

    var startMarker = new google.maps.Marker({
      draggable: true,
      title: 'Початок'
    });
    var finishMarker = new google.maps.Marker({
      draggable: true,
      title: 'Призначення'
    });
    var from = $('#car_search_from');
    var to = $('#car_search_to');
    var map;
    function initialize() {
      var mapOptions = {
        center: {lat: 49.8419071, lng: 24.0315675},
        zoom: 12
      };
      geocoder = new google.maps.Geocoder();
      map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);
      startMarker.setMap(map);
      finishMarker.setMap(map);

      var onDrag = function(e){
        setMarker(this, e.latLng);
      };
      google.maps.event.addListener(startMarker, 'dragend', onDrag);
      google.maps.event.addListener(finishMarker, 'dragend', onDrag);
      google.maps.event.addListener(map, 'click', function (e) {
        if (!empty(from) && !empty(to)){
          setMarker(startMarker, null);
          setMarker(finishMarker, null);
        }

        if (empty(from)) setMarker(startMarker, e.latLng); else setMarker(finishMarker, e.latLng);

//        placeMarker(e.latLng, map);
//          console.log(a);
//            map.setCenter();
      });
      map.data.setStyle(function(feature) {
          var color = feature.getProperty('color');
        console.log(color);
          return {
            strokeColor: color
          };
      });
      map.data.addListener('mouseover', function(event) {
          map.data.revertStyle();
          map.data.overrideStyle(event.feature, {strokeWeight: 5});
        });

        map.data.addListener('mouseout', function(event) {
          map.data.revertStyle();
        });



      if ('undefined' != typeof from_marker) startMarker.setPosition(from_marker);
      if ('undefined' != typeof to_marker) finishMarker.setPosition(to_marker);
      if ('undefined' != typeof data_url) map.data.loadGeoJson(data_url);
    }

    function placeMarker(position, map) {

      var marker = new google.maps.Marker({
        position: position,
        map: map
      });
//      map.panTo(position);
      if ( !startMarker || (startMarker && finishMarker) ) setStartMarker(marker)
      if ( !finishMarker ) setFinishMarker(marker);
    }

    function getOrCreateMarker(latLng){
//      if (startMarker && en)
    }

    function setMarker(marker, value){
      var ref;
      if (marker == startMarker) ref = from; else ref = to;
      if (value){
        ref.val(value.lat()+", "+value.lng() || '');
        marker.setPosition(value);
        marker.setMap(map);
        geocoder.geocode({'latLng': value}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            if (results[1]) {
              console.log(results[1]);
            }
          }
        });

      } else {
        ref.val("");
        marker.setMap(null);
      }
    }


    function empty(ref){
      return 0 == ref.val().length;
    }

    google.maps.event.addDomListener(window, 'load', initialize);
//  })();
</script>

<div id="map-canvas"></div>