// Place all the styles related to the CarSearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.car_search {
  position: relative;
  margin-left: 10px;
  #map-canvas {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;}

  .address {
    width: 100%;
  }
  .car_search_pinned {
    line-height: 3em;
  }
  .car_search_form{
    .control-label{
      display: block;
    }
  }
}

.ava-line{
  margin-left: 58px;
  .avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
  }
  .text-muted {
    font-size: 90%;
  }
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
