<div style="margin: 0 20px">
<h2 id="1">
  Політика конфіденційності
</h2>

<h3>
  Ми збираємо особисту інформацію і активність користувача
</h3>
<p>
  Ми використовуємо ідентифікатори унікальності для ідентифікації комп'ютера або пристрою, таким чином, ми можемо поставити кращий досвід користування. Наші системи також зареєструвати таку інформацію, як ідентифікатор пристрою, операційної системи і IP-адреса. 
  Ми також збирати інформацію: наприклад, пристрій локалізації, версія програми, дозволи надані додатку. Ми можемо також отримати доступ профілю та іншої інформації від послуг, таких як Facebook. Наші системи можуть зв'язати цю особисту інформацію з вашої діяльності в ході надання послуг для Вас. Ми свідомо не контактуємо або збираємо особисту інформацію від дітей молодше 13 років Якщо ви вважаєте, що ми необережно зібрали таку інформацію, будь ласка, зв'яжіться з нами, щоб ми могли оперативно отримати згоду батьків або видалити інформацію.
</p>

<h3>Ми збираємо і зберігаємо ваші пошуки маршрутів.</h3>
<p>
  Пошуки які ви зробили зберігаються, доступні для переглюду іншими і можуть використовуватись в подальшому аби знайти маршрут водія який зможе вас підвезти як вказано в пошуку. Ми можемо повідмляти вас і потенційного водія про відповідні пошуки. Ви можетк переглюнути пошуки в меню “Пошук водія”
</p>

<h3>Ми збираємо і зберігаємо ваше точне місце розташування</h3>
<p>Ваше точне розташування збирається і передається нам під час використання додатку і підключенного живлення. Це необхідно аби записати маршрут водія.
Ці маршрути ви можете побачити в меню “Маршрути”. Ваші маршрути або їх частина може бути доступна для перегляду всім бажаючим. Це зроблено аби ви могли знайти пасажира для сумісних поїздок.
</p>

<h3>Ми збираємо і зберігаємо ваші публічні дані профілю Facebook
</h3>
<p>
  З вашої згоди ми збираємо і зберігаємо дані вашого публічного профілю Facebook. Такі як: ім’я, призвище, стать, приблизний вік, аватар. Ми показуємо відвідувачам ваше ім’я, призвище, аватар. Це зроблено аби користувачі сервісу ідентифікували один одного. Ми можемо передавати ваше повне ім’я і аватар партнерам.
</p>

<h3>Ми збираємо і зберігаємо ваш email</h3>
<p>З вашої згоди ми збираємо і зберігаємо ваш email. Ваш email не розповсюджуєтся і не передається іншим сторонам. Ми можемо надсилати вам листи аби повідомити про події які стосуються особисто вас, новини, рекламу. Ви можете в будь-який момент відмовитись від листів скориставшись відповідним посиланням в листі.
</p>

<h3>Ми розсилаємо push notifications
</h3>
<p>Ми розсилаємо push notifications у випадку події яка вимагає вашої уваги. Наприклад: повідомлення від іншого користувача, зміна статусу запита, та інше.
</p>

<h3>Ви можете залишити заявку, щоб побачити свої персональні дані.
</h3>
<p>Ви можете зв'язатися з нами по електронній пошті, щоб запросити, щоб побачити цю інформацію.
</p>

<h3>Ми можемо зберегти дані на невизначений термін.
</h3>
<p>Ми можемо зберегти дані на невизначений термін.
</p>

<h3>Ми можемо ділитися особистими даними з компаніями, яким ми довіряємо.
</h3>
<p>Ми можемо ділитися анонімною інформацією з довіреними партнерами, з тим, щоб надати вам відповідні реклами, пропозицій або послуги.
</p>

<h3>Ви можете задати питання приватності.
</h3>
<p>
  Якщо у вас є які-небудь питання або сумніви з приводу нашої політики конфіденційності, будь ласка, зв'яжіться з нами: info@drider.io
</p>

<h3>Постачальники послуг доступу до даних від нашого імені.
</h3>
<p>Для того, щоб служити вам, ми можемо передавати вашу особисту і анонімну інформацію з іншими компаніями, в тому числі постачальників і підрядників. Їх використання інформації обмежується цих цілей, а також з урахуванням угод, які вимагають від них, щоб зберегти інформацію в таємниці. Наші постачальники надають впевненість в тому, що вони вживають заходів для забезпечення збереження даних, які вони тримають від нашого імені, хоча безпеку даних не може бути гарантована. Аналітика компанії можуть отримати доступ до анонімні дані (наприклад, ваш IP-адреса або ідентифікатор пристрою), щоб допомогти нам зрозуміти, як використовуються наші послуги. Вони використовують ці дані виключно від нашого імені. Вони не поділяють його інакше як в агрегированной формі; ніякі дані не поділяють, як для будь-якого окремого користувача. 
</p>

<h3>Ми вживаємо заходів для захисту особистої інформації
</h3>
<p>Ми приймаємо розумні заходи, щоб убезпечити вашу особисту інформацію від несанкціонованого доступу або розголошення. Проте, жоден з методів безпеки або шифрування не може бути гарантована для захисту інформації від хакерів або людської помилки.
</p>

<h3>Особливі ситуації можуть зажадати розкриття ваших даних.
</h3>
<p>
  Для управління послугою, ми також можемо зробити ідентифікувати і анонімні дані третім особам в цих обмежених обставин: (1) з Вашої згоди, (2), коли ми маємо сумлінне припущення, що потрібно за законом, (3), коли у нас є сумлінне припущення, що це необхідно для захисту наших прав або власності, або (4) до будь-якого наступника або покупця у формі злиття, придбання, ліквідації, розпуску або продажу активів. Ваше згода не потрібна для розкриття в цих випадках, але ми спробуємо повідомити вас, наскільки це дозволено законом, щоб зробити це.
</p>

<h3>Ви можете отримати детальнішу інформацію про конфіденційність.
</h3>
<p>Ця політика конфіденційності була оновлена ​​29-квітня-2016. Наша політика конфіденційності може змінюватися час від часу. Якщо ми будемо вносити істотні зміни в нашій політиці, ми розмістимо помітне повідомлення на нашому веб-сайті або в додатку.
</p>
<%= link_to 'Прийняти', new_user_session_path, class: 'btn btn-primary' %>
<%= link_to 'Відмовитись', '#1', class: 'btn btn-link' %>
</div>

