// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.driver-instruction{
  .bigger {
    font-size: 1.2em;
  }
  .alert-info{
    padding-left: 40px;
  }
}