// Place all the styles related to the passenger_search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.passengers_search{
  .map-canvas {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    display: none;
  }
  .ava-line{
    form {
      display: inline-block;
    }
  }
}