h1 Хто ви ?

=link_to 'Я водій', driver_role_account_path(value: true), class: 'btn btn-block btn-primary'

=link_to 'Я пасажир', driver_role_account_path(value: 'false'), class: 'btn btn-block btn-success'

small Ви можете змінити це в будь-який момент
